<div class="container text-center">
    <h1>Fresh posts from people you follow</h1>
    <hr>
    <%= react_component 'Home',
    postsJsonUrl: json_posts_url,
    csrfToken: form_authenticity_token %>
</div>