<%= content_for :title, "#{@user.nickname}'s Profile" %>

<div class="container text-center">
    <div id="info">
        <%= render partial: 'profile', with: @user, as: 'user' %>
    </div>
    <hr>
    <%= render partial: 'shared/post', collection: @user.posts %>
</div>